.paragraph-carousel {
  font-size: 1.2em;
}

.separation {
  position: relative;
  top: 0.5em;
}

.items-checkbox {
  display: grid;
  grid-template-areas: "l r";
  grid-auto-flow: row;
}

.checkbox-l {
  display: inline-grid;
  grid-area: l;
}

.checkbox-r {
  display: inline-grid;
  grid-area: r;
  
}

.container-button{
  display: flex;
  justify-content: end;
  margin-top: 0.5em;
}

/* Tirar setas do input type number */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

 /* Media Query */

 @media (max-width: 768px)
 {
  .items-checkbox {
    grid-template-areas: 
    "l" 
    "r"}
 }

 /* DARK MODE */
 .bi {
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}

.dark,
.dark header,
#fundo-main, .container-fluid,
.navbar   {
    background-color: #263238;
    color: #fff;
}

.dark main {
  background-color: #263238;
  color: #fff;
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}

.dark .container-fluid
.navbar {
  background-color: #37474f;
  color: #fff;
}

.dark #fundo-img {
  background-color: #37474f;
  color: #fff;
}

/*.dark .card-image {
    background-color: #273035;
}

.dark .subtitle {
    color: #67b4f3;
}

.dark .description {
    color: #2196f3;
}*/


.dark .navbar-toggler,
.dark .btn-close {
    background-color: #37474f;
}

.dark .botaoCadastrar {
  background-color: #05543E;
}