.paragraph-carousel {
  font-size: 1.2em;
}

.separation {
  position: relative;
  top: 0.5em;
}

.items-checkbox {
  display: grid;
  grid-template-areas: "l r";
  grid-auto-flow: row;
}

.checkbox-l {
  display: inline-grid;
  grid-area: l;
}

.checkbox-r {
  display: inline-grid;
  grid-area: r;
  
}

.container-button{
  display: flex;
  justify-content: end;
  margin-top: 0.5em;
}

/* Tirar setas do input type number */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

 /* Media Query */

 @media (max-width: 768px)
 {
  .items-checkbox {
    grid-template-areas: 
    "l" 
    "r"}
 }